# Dependências (Obrigatório ignorar)
node_modules/

# Variáveis de ambiente (Segurança - NÃO suba suas senhas!)
.env
.env.local

# Pasta de build (A Vercel gera isso sozinha lá)
dist/

# Arquivos do Sistema e Editores
.vscode/
.DS_Store
Thumbs.db